# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
#*.so
#*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
#*.exe
#*.out
#*.app

# Ignore directories
/Project/out
/Project/.vs/Project

# Ignore build dir
/ProjectServer/cmake-build-debug/

# Ignore secrets
ProjectServer/Assets/Config/key.pem
ProjectServer/Assets/Config/cert.pem
/ProjectServer/Secrets

# Ignore some libraries
/ProjectServer/ThirdParty/asio
/ProjectServer/ThirdParty/Crow
/ProjectServer/ThirdParty/json
/ProjectServer/ThirdParty/soci
/ProjectServer/ThirdParty/uWebSockets
/ProjectServer/ThirdParty/uwebsockets
/ProjectServer/ThirdParty/cpr
/ProjectServer/ThirdParty/eve

# Ignore IntelliJ configurations
ProjectServer/.idea/*
